In [2]:
import pandas as pd
url = 'https://raw.githubusercontent.com/Rachnagit-hub/DMDW-lab2/main/data.csv'
dt1 = pd.read_csv(url)
dt1.head()

   age gender  income  spending
0   22      m   12000      5000
1   25      f   32000      2300
2   23      f   22000      4000
3   22      m   26000      3500

In [4]:
import numpy

In [6]:
arr=numpy.array([1,2,3,4,5])

In [7]:
arr

array([1, 2, 3, 4, 5])

In [10]:
print(arr)

[1 2 3 4 5]